/* ==========================================================================
   Institucional
   ========================================================================== */

body.institucional {
	.main-institucional__sidebar {
		margin-left: 12px;

		@include mq($screen-md) {
			margin-left: 0;
			margin-top: 50px;
		}

		nav {
			ul {
				li {
					margin-bottom: 10px;

					a {
						@include font-size(1.4);
						color: #333;
						text-decoration: none;

						&:hover,
						&.active {
							color: #34508d;
							font-weight: bold;
						}

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	h2 {
		@include font-size(1.8);
		color: #666;
	    font-size: 1.8rem;
	    margin: 30px auto;
	    text-align: center;
	    text-transform: uppercase;
	    font-weight: 400;

		&:after,
		&:before {
			color: #b70000;
		    content: "___________________________________________________";
		    display: inline-block;
		    margin: -8px 20px 0;
		    overflow: hidden;
		    text-indent: 0;
		    vertical-align: top;
		    width: 14%;
		}
	}

	article {
		h3{
			margin-top: 10px;
			font-size: 14px;
		}

		p {
			line-height: 25px;
			font-size: 14px;
		    font-weight: 300;
		    text-transform: none;
		}

		span{
			display: block;
		    font-size: 10px;
		    font-weight: 400;
		    line-height: 14px;
		    margin: 5px 0 20px;
		    text-transform: uppercase;
		}


		strong {
			font-size: 14px;
		    display: block;
		    line-height: 20px;
		    margin: 15px 0 0;
		}

		img {
			max-width: 100%;
			margin-bottom: 20px;
		}
	}
}

body.informacao{
	address{
		font-size: 14px;
	}
}

body.duvidas{
	article{

		h3{
			font-size: 15px;
			margin: 20px 0 5px;
		}

		p{
			margin-bottom: 20px;
		}

	}
}

body.quem-somos{
	article{

		p{
			margin-top: 30px;
		}

		img{
			float: right;
		}
	}
}

body.regulamento{
	.main-institucional__content{
		img{
			width: 100%;
			height: auto;
			display: block;
			margin: 0 auto;
		}

		article{
			padding: 0;

			@include mq($screen-md) {
				padding: 0 15%;
			}
		}
	}
}

body.fale-conosco{
	main{
		.content-central{
			h1{
			    @include font-size(1.8);
                color: #666;
			    font-weight: 400;
			    margin: 30px auto;
			    text-align: center;
			    text-transform: uppercase;

			    &:before,
			    &:after{
				    display: none;
				}

				@include mq($screen-md) {
					@include font-size(1.8);
					width: 70%;
					color: #666;
					font-weight: 400;
					margin: 30px auto;
					text-align: center;
					text-transform: uppercase;

					&:before,
					&:after {
						width: 14%;
						color: #b70000;
						text-indent: 0;
						overflow: hidden;
						margin: -8px 40px 0;
						vertical-align: top;
						display: inline-block;
						content: "___________________________________________________";
					}
			  	}
			}

			.conteudo {
    			margin: 0 auto;

    			@include mq($screen-md) {
    				width: 100%;
    			}

    			span {
					width: 100%;
  				    margin: 10px 0;
  				    vertical-align: top;
   					display: inline-block;

  				    @include mq($screen-md) {
  				    	width: 30%;
  				    	margin: 0;
  				    }
    			}

                 input, select, textarea {
				    @include font-size(1.4);
				    width: 100%;
				    padding: 5px;
                 	text-align: left;
				    vertical-align: left;
				    display: inline-block;
				    border: 1px solid #ccc;

				  	@include mq($screen-md) {
						width: 100%;
				    }
				}

			    .description {
			    	height: 90px;
			    }

				 fieldset {
				 	margin-bottom: 10px;
				 }

				 form {
				 	width: 70%;
				 	margin: 0 auto;
				 	text-align: center;
				 }

				 button {
					@include font-size(1.2);
				    clear: both;
				    color: #fff;
				    border: none;
					float: right;
				    padding: 10px;
					cursor: pointer;
				    font-weight: 33;
				    line-height: 15px;
				    text-align: center;
				    text-decoration: none;
				    background-image:none;
				    text-transform: uppercase;
                    background-color: #7D7D7D;

					&:hover{
						@extend .transition;
	                    overflow: visible;
	                    transition-duration: .3s;
						background-color: #696969;
                        transition-timing-function: ease;
					}
				}
			}
		}
    }
}
article.quem-somos-article{
    width: inherit;
}

.quem-somos-article p {
    text-align: justify;
}
