/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
	color: #fff;
	padding: 8px;
	text-align: center;
	text-transform: uppercase;
	background-color: #7D7D7D;

	&:hover {
		color: #fff;
		background-color: #333;
	}
}
